.menuContainer {
  display: flex;
  padding-bottom: 10px;
  height: 40px;
}

.menuElement {
  padding: 5px;
  cursor: pointer;
}

.menuElement:hover {
  border-bottom: 1px solid #f83410
  /*box-shadow: 0 0 20px #193dff;*/
}