extends ../_layout_view

block content
  section
    hgroup
      h1 project

    fieldset
      div
        p project
        - if (rows)
          ul
            each row in rows
              li #{JSON.stringify(row)}

    //script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react.js")
    //script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react-dom.js")
    //script(src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser.js")
            
  script(src="/javascripts/_bundles/project_bundle.min.js")