.schemaContainer {
  display: flex;
  margin-top: 20px;
}

.imageContainer {
  background-color: #8a8a8a;
}

.colorPanelContainer {
  overflow: scroll;
  height: 816px;
}

.contentContainer {
  position: relative;
  margin-top: 20px;
  width: 100%;
  min-height: 1000px;
  //height: 1000px;
  //background-color: #c8c8c8;
  border: 1px solid green;
}

.staticContent {
  position: absolute;
  left: 0;
  background-color: transparent;
  z-index: 10;
}

.dynamicContent {
  position: absolute;
  left: 0;
  background-color: transparent;
  z-index: 9;
}