doctype 5

html
  head
    - const appName = 'InfoScanner';
    - const author = 'jwd';
    title #{appName}
    
    link(rel="stylesheet", href="/stylesheets/common.min.css")
    
    block head
  body
    a(id="userName", href="/login", class="user-info")
    
    div
      div
      ul
        li
          a(href="/") Home
        li
          a(href="/register") Register
        li
          a(href="/login") Login
        li
          a(href="/project") Project
          
    #body
      block content

    footer
      - var year = new Date().getFullYear();
      p(class="text-info") #{author}, #{year}

  script(src="/javascripts/common.min.js")
  script(src="/javascripts/layout.min.js")