doctype 5

html
  head
    - const appName = 'InfoScanner';
    - const author = 'jwd';
    title #{appName}
    
    link(rel="stylesheet", href="/stylesheets/common.min.css")
  body
    div
      div
      ul
        li
          a(href="/") Home
        li
          a(href="/register") Register
        li
          a(href="/login") Login
        li
          a(href="/project") Project
          
    section
      hgroup
        h1 #{appName}

        <!--dynamic content-->
        div(id="app", class="app-container")
        
    footer
      - var year = new Date().getFullYear();
      p(class="text-info") #{author}, #{year}
        
  script(src = "app/pages/IndexPage")