<!DOCTYPE html>

<html>
  <head>
    <% const appName = 'InfoScanner'
       const author = 'jwd'
       const year = new Date().getFullYear();
    %>
    
    <title><%= appName %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/stylesheets/common.min.css">
    <!--<script src="components/pages/IndexPage1.min.js"></script>-->
  </head>
  <body>
    <div>
      <ul>
        <li><a href="/">Home</a>
        <li><a href="/register">Register</a>
        <li><a href="/login">Login</a>
        <li><a href="/project">Project</a>
      </ul>
    </div>

    <h2><%=appName%></h2>
    
    <!--dynamic content-->
    <div id="app" class="app-container">
      
    </div>
    
    <footer>
      <p><%= author %>, <%= year %>
    </footer>
  </body>
</html>
