$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

%shared {
  border: 1px solid #0086B3;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
}

h1 {
  @extend %shared;
}

.ttt {
  background-color: #0086B3;
  @extend %shared
}