.calculatedSchemaContainer {
  position: relative;
  top: 0;
  left: 0;
  margin-top: 15px;
}

.calculatedSchemaImage {
  //position: relative;
  top: 0;
  left: 0;
}

.selectedImagesSchema {
  position: absolute;
  top: 0;
  left: 0;
  //mix-blend-mode: soft-light;
}