.method, .dtCaption, .rowCaption {
  cursor: pointer;
}

.lineCaption, .rowCaption {
  color: #932f1e;
}

.container {
  //background-color: #EDF5F7;
  display: grid;
}

.editRow {
  width: 100px;
  margin: 2px
}