.paletteContainer {
  margin-top: 15px;
}

.palettes {
  display: flex;
  flex-wrap: wrap;
  width: 160px;
  margin-right: 5px;
  //overflow-y: scroll;
}

.paletteItem {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 1px;
}

.selectedItem {
  border: 2px solid red;
}

.notSelectedItem {
  border: 2px solid black;
}