.settingsContainer {
  display: flex;
  height: 40px;
  //border: 1px solid black;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 15px;
  //background: #8a7413;
}

.settingsElement, .settingsElementSelected {
  padding: 5px;
  cursor: pointer;
}

.settingsElementSelected {
  background-color: #39984b;
}

.settingsElement:hover {
  border-bottom: 1px solid #f83410
  /*box-shadow: 0 0 20px #193dff;*/
}