extends ../_layout_view

block content
  section
    hgroup
      h1 login

    fieldset
      //legend login
      form(id="login_form", method="post", class="form-column")
        //input(id="csrftoken", type="hidden", value="#{csrftoken}")
        div(class="row")
          input(id="email_field", name="email", data-required="true", type="email", placeholder="E-mail")
        div(class="row")
          input(id="password", name="password", type="password", placeholder="password")
          a(id="form_info", class="form-info")
        button(type="submit", name="go", class="button") login

        div
          a(href="/register" class="row form-link") Регистрация
          a(href="/remind", class="float-right form-link") Забыл пароль
          
  script(src="/javascripts/_bundles/login_bundle.min.js")
  