extends ../_layout_view

block content
  section
    hgroup
      h1 register

    p For password enter minimum six characters, at least one uppercase letter, one lowercase letter, one number and one special character
    p $5Rgf1
    fieldset
      //legend login
      form(id="register_form", method="post", class="form-column")
        //input(id="csrftoken", type="hidden", value="#{csrftoken}")
        div(class="row")
          input(id="email_field", name="email", data-required="true", type="email", placeholder="E-mail")
        div(class="row")
          input(id="password", name="password", type="password", placeholder="password")
        div(class="row")
          input(id="confirm_password", name="confirm_password", type="password", value="R%5rty", placeholder="confirm your password")
          a(id="form_info", class="form-info")
          
        div(class="g-recaptcha", data-sitekey="6LcMT3AUAAAAAAfms0lLrxMTfqEZJeACZk0M7CRz")
        button(type="submit", name="go", class="button") register
        
  script(src="/javascripts/_bundles/register_bundle.min.js")
  //script(src="https://www.google.com/recaptcha/api.js")