doctype 5

html(lang='en')
  head
    meta(charset='UTF-8')
    title #{pDbInfo.original_name}
    style(type="text/css").
      @font-face {
        font-family: #{pFont};
        src: url(../CrossStitch3.ttf);
      }
      .schema-symbol {
        font-family: #{pFont};
      }
      .schema-statistics-row { background-color: beige; }
      .schema-statistics-cell { border: 1px solid #dbd6d3; text-align: center; }
      .tunes { display: block; padding-bottom: 15px; }
      .table { display: table; padding: 25px }
      .row { display: table-row; padding: 15px; }
      .cell { display: table-cell; padding-right: 10px; padding-bottom: 5px; }
      .pointer { cursor: pointer; }
      .container { padding-top: 30px; }
  body
    - const symbolsTxt = '!"#$%&\'()*+,-./0123456789:;<=>?@ABCDEFGHIJKLMNOPQRSTUVWXYZ[]^_`abcdefghijklmnopqrstuvwxyz{|}~¡¢£¤¥¦§¨©ª«®¯°±²³´µ¶·¸¹º»¼½¾¿ÀÁÂÃÄÅÆÇÈÉÊËÌÍÎÏÐÑÒÓÔÕÖ×ØÙÚÛÜÝÞßàáâãäåæçèéêëìíîïðñòóôõö÷øùœŠšŸúûüýþÿ';
    - const schemaSymbols = symbolsTxt.split('');
    - const uniqueDiyResourceObj = {};
      each item in pData
        - uniqueDiyResourceObj[item.id] = item;

    - let uniqCnt = 0;
    - for(id in uniqueDiyResourceObj) {
    -   Object.assign(uniqueDiyResourceObj[key], {'uniqCnt': uniqCnt});
    -   uniqCnt++;
    - }
    //- console.info(uniqueDiyResourceObj);

    //p >>>> !{JSON.stringify(pDbInfo)}
    //p >>>> !{JSON.stringify(pImageData)}
    //p >>>> !{JSON.stringify(pData)}

    div
      p image: #{pImageData.imageWidth} * #{pImageData.imageHeight} px
      p coefficient compression: #{pImageData.coeff}
      p count: #{pImageData.cntX} * #{pImageData.cntY}

    div(id='data_container')
      u(id='data_table_shower', class='pointer') data colors info

      table(id='data_table', style='display: none')
        thead
          tr
            th
            th Resource ID
            //th Name
            th No
            //th X
            //th Y
            th Color
            th RGB
            //th delta E
            th Count
            th Symbol
        tbody
          - let i = 0;
          each item in uniqueDiyResourceObj
            - const dmcColor = item.c;
            - const dmcRGB = 'rgb(' + dmcColor.R + ',' + dmcColor.G + ',' + dmcColor.B + ')';
            tr(class='schema-statistics-row')
              td
                input(class='select-color', type='checkbox', checked='true', data-color=JSON.stringify(dmcColor), data-id=item.diy_resource_id, data-symbol=item.uniqCnt)
              td(class='schema-statistics-cell')= item.id
              //td(class='schema-statistics-cell')= item.name
              td(class='schema-statistics-cell')= item.no
              //td(class='schema-statistics-cell')= item.x
              //td(class='schema-statistics-cell')= item.y
              td(style='background-color:' + dmcRGB)
              td(class='schema-statistics-cell')= dmcColor.R + ',' + dmcColor.G + ',' + dmcColor.B
              //td(class='schema-statistics-cell')= item.delta_e
              th(class='schema-statistics-cell')= (pData.filter(p => p['id'] === item.id).length)
              th
                p(class='schema-symbol')= schemaSymbols[i]
              - i++

    u(id='settings_shower', class='pointer') settings
    div(id='settings', class='table')
      div(class='row')
        //div(class='cell')
          h3 view mode
          label(class='tunes')
            input(name="mode", type="radio", value='0', checked='checked')
            span source image
          label(class='tunes')
            input(name="mode", type="radio", value='1')
            span mode 1
          label(class='tunes')
            input(name="mode", type="radio", value='2')
            span mode 2
        div(class='cell')
          h3 view
          label(class='tunes')
            input(id="show_grid", type="checkbox", checked='checked')
            span show grid
          label(class='tunes')
            input(id="show_schema_color", type="checkbox")
            span show schema color
          label(class='tunes')
            input(id="show_schema_data", type="checkbox")
            span show schema data
          label(class='tunes')
            input(id="show_grid_square_number", type="checkbox", checked='checked')
            span show square number
          label(class='tunes')
            //input(id="grid_row_count", type="range", value='5', min='5', max='20', step='5')
            input(id="grid_row_count", type="number", value='5', min='5', max='20', step='5')
            span grid row count
        //div(class='cell')
          h3 grid
          //label(class='tunes')
            input(id="zoom", type="range", value='1', min='1' max='5' step='1')
            span zoom
          label(class='tunes')
            input(id="grid_row_count", type="range", value='5', min='5', max='20', step='5')
            span grid row count
        div(class='cell')
          h3 colors
          label(class='tunes')
            input(id="grid_color", type="color", value='#d35082')
            span grid color
          label(class='tunes')
            input(id="schema_data_color", type="color", value='#15a10f')
            span schema data color
          label(class='tunes')
            input(id="schema_data_grid_color", type="color", value='#eadf52')
            span schema data grid color
          label(class='tunes')
            input(id="background_color", type="color", value='#eee7e5')
            span background color

    div(id='image_container', class='container')
      canvas(id='image')

  script(type='text/javascript').
    //(new Array( 500 ).fill( 1 ).map( ( _, i ) => String.fromCharCode( 33 + i ) )).join('')
    window.onload = () => {
      //in
      const imgData = !{JSON.stringify(pImageData)};
      const dbInfo = !{JSON.stringify(pDbInfo)};
      const schemaColorData = !{JSON.stringify(pData)};



      //mode settings
      //const $modes = document.getElementsByName('mode');

      //grid settings
      const $showSchemaColor = document.getElementById('show_schema_color');
      const $showSchemaData = document.getElementById('show_schema_data');
      const $showGrid = document.getElementById('show_grid');
      const $showGridSquareNumber = document.getElementById('show_grid_square_number');
      //const $zoom = document.getElementById('zoom');
      const $gridRowCount = document.getElementById('grid_row_count');

      //colors settings
      const $gridColor = document.getElementById('grid_color');
      const $schemaDataColor = document.getElementById('schema_data_color');
      const $schemaDataGridColor = document.getElementById('schema_data_grid_color');
      const $backgroundColor = document.getElementById('background_color');

      //common
      const $imageContainer = document.getElementById('image_container');


      //render
      let zoom = 1;//$zoom.value;
      const render = () => {
        //mode settings. values
        //const mode = Array.from($modes).filter(p =>p.checked == true)[0].value;

        //colors settings. values
        const cGridColor = $gridColor.value;
        const cSchemaDataColor = $schemaDataColor.value;
        const cSchemaDataGridColor = $schemaDataGridColor.value;
        const cBackgroundColor = $backgroundColor.value;

        //grid settings. values
        const isSchemaColor = $showSchemaColor.checked;
        const isSchemaData = $showSchemaData.checked;
        const isShowGrid = $showGrid.checked;
        const isShowGridSquareNumber = $showGridSquareNumber.checked;
        const gridRowCount = parseInt($gridRowCount.value);

        //canvas
        const canvas = document.getElementById('image');
        const ctx = canvas.getContext('2d');

        const imageWidth = imgData.imageWidth * zoom;
        const imageHeight = imgData.imageHeight * zoom;
        const coeff = imgData.coeff * zoom;
        const padding = 20 * zoom;

        $imageContainer.style.width = imageWidth + padding;
        $imageContainer.style.height = imageHeight + padding;

        canvas.width = imageWidth + padding;
        canvas.height = imageHeight + padding;


        //const gridColorChanged = (e) => {
        //
        //}

        //clear
        const clearAll = () => {
          ctx.clearRect(0, 0, imageWidth, imageHeight);
        };

        //background
        const drawBackground = () => {
          ctx.beginPath();
          ctx.rect(0, 0, imageWidth + padding, imageHeight + padding);
          ctx.fillStyle = cBackgroundColor;
          ctx.fill();
          ctx.closePath();
        };

        //draw image
        const uniqRes = !{JSON.stringify(uniqueDiyResourceObj)};
        const drawSchemaData = () => {
          ctx.beginPath();
          ctx.fillStyle = cSchemaDataColor;
          ctx.font = coeff * 5 / 6 + 'pt CrossStitch3'
          const symbolsTxt = '!"#$%&\'()*+,-./0123456789:;<=>?@ABCDEFGHIJKLMNOPQRSTUVWXYZ[]^_`abcdefghijklmnopqrstuvwxyz{|}~¡¢£¤¥¦§¨©ª«®¯°±²³´µ¶·¸¹º»¼½¾¿ÀÁÂÃÄÅÆÇÈÉÊËÌÍÎÏÐÑÒÓÔÕÖ×ØÙÚÛÜÝÞßàáâãäåæçèéêëìíîïðñòóôõö÷øùœŠšŸúûüýþÿ';
          const schemaSymbols = symbolsTxt.split('');

          ctx.strokeStyle = cSchemaDataGridColor;
          for (let i = 0; i < schemaColorData.length; i++) {
            const item = schemaColorData[i];
            const indexInSchemaSymbos = uniqRes[item.id].uniqCnt
            ctx.rect(item.x * zoom + padding, item.y * zoom + padding, coeff, coeff);
            ctx.fillText(schemaSymbols[indexInSchemaSymbos], item.x * zoom + padding, item.y * zoom + coeff * 5 / 8 + padding);
          }
          ctx.stroke();
          ctx.closePath();
        };

        //grid
        const drawGrid = () => {
          ctx.beginPath();
          ctx.fillStyle = cGridColor;
          //ctx.setLineDash([1, 1]);
          ctx.font = coeff / 2 + 'pt CrossStitch3'
          ctx.strokeStyle = cGridColor;

          let i = 0;
          for (let x = 0; x < imageWidth; x += coeff * gridRowCount) {
            ctx.moveTo(x + padding, 0);
            ctx.lineTo(x + padding, imageHeight);
            if (x !== 0) {
              ctx.fillText(i, x + padding, coeff);
            }
            i += gridRowCount;
          }

          i = 0;
          for (let y = 0; y < imageHeight; y += coeff * gridRowCount) {
            ctx.moveTo(0, y + padding);
            ctx.lineTo(imageWidth, y + padding);
            if (y !== 0) {
              ctx.fillText(i, 0, y + padding * 0.8);
            }
            i += gridRowCount;
          }
          ctx.stroke();
          ctx.closePath();
        };

        //square numbers
        const drawSquareNumber = () => {
          ctx.beginPath();
          ctx.fillStyle = cGridColor;
          ctx.font = coeff + 'pt Arial'
          ctx.strokeStyle = cGridColor;

          //imgData
          let i=1;
          for (let y = 0; y < imgData.cntY/gridRowCount; y++) {
            for (let x = 0; x < imgData.cntX/gridRowCount; x++) {
              ctx.fillText(i, x*coeff*gridRowCount + gridRowCount*coeff/3 + padding, y*coeff*gridRowCount + gridRowCount*coeff*0.8);
              i++;
            }
          }

          ctx.stroke();
          ctx.closePath();
        };


        //draw
        clearAll();
        drawBackground();

        if (isSchemaColor) {
          const convertedImage = new Image();
          convertedImage.src = dbInfo.converted_file_name;
          convertedImage.onload = () => {
            ctx.drawImage(convertedImage, padding, padding, imageWidth, imageHeight);

            if (isShowGrid) {
              if (isSchemaData)
                drawSchemaData();
              drawGrid();
            } else {
              if (isSchemaData)
                drawSchemaData();
            }

            if (isShowGridSquareNumber) {
              drawSquareNumber();
            }
          }
        } else {
          if (isShowGrid) {
            if (isSchemaData)
              drawSchemaData();
            drawGrid();
          } else {
            if (isSchemaData)
              drawSchemaData();
          }

          if (isShowGridSquareNumber) {
            drawSquareNumber();
          }
        };
      }

      render();

      //---------------------------------------------events
      Array.of($showGrid, $showSchemaColor, $showGridSquareNumber, $gridRowCount, $gridColor,
                $schemaDataColor, $schemaDataGridColor, $backgroundColor, $showSchemaData).forEach(function (elem) {
        elem.addEventListener('change', function () {
          //console.info('changed', this, this.value);
          render();
        });
      });

      const $dataTableShower = document.getElementById('data_table_shower');
      const $dataTable = document.getElementById('data_table');
      $dataTableShower.addEventListener('click', (e) => {
        $dataTable.style.display = $dataTable.style.display == 'none' ? '' : 'none';
      });

      const $settingsShower = document.getElementById('settings_shower');
      const $settings = document.getElementById('settings');
      $settingsShower.addEventListener('click', (e) => {
        $settings.style.display = $settings.style.display == 'none' ? '' : 'none';
      });

      //zoom event
      $imageContainer.addEventListener('wheel', (e) => {
        e.preventDefault();

        if (e.deltaY > 0 && zoom > 1) {
          zoom--;
          render();
        }

        if (e.deltaY < 0 && zoom < 10) {
          zoom++;
          render();
        }
      });

      //mouse move event
      let curYPos = 0;
      let curXPos = 0;
      let curDown = false;
      window.addEventListener('mousemove', (e) => {
        if(curDown === true) {
          window.scrollTo(document.body.scrollLeft + (curXPos - e.pageX), document.body.scrollTop + (curYPos - e.pageY));
        }
      });
      window.addEventListener('mousedown', function (e) {
        curDown = true;
        curYPos = e.pageY;
        curXPos = e.pageX;
      });
      window.addEventListener('mouseup', function (e) {
        curDown = false;
      });
    };