doctype 5

html(lang='en')
  head
    meta(charset="UTF-8")
    title #{obj.original_name}
    style(type="text/css").
      tr { height: #{coeff}px; }
      col { width: #{coeff}px; }
      table { border: none; table-layout: fixed; }
      .td { border-right: 1px solid black; border-bottom: 1px solid black; height: 100% }
  body
    - let classNames = {};
    - let txtStyles = ''

    p #{obj.original_name}
    p x: #{cntX}, y: #{cntY}

    input(id='go', type='button' value="remove cell-950", onclick='goRemove()')

    table(cellspacing="0", cellpadding="0")
      - let h = 0;
      colgroup
        while h++ < cntX
          col
      tbody
        - let y = 0;
        while y < cntY
          tr
            - let x = 0
            while x < cntX
              - let cell = data[cntY * y + x];
              - let color = cell.color;
              - let rgb = 'rgb('+color.R+','+color.G+','+color.B+')';
              - let className = 'cell-' + cell.diy_resource_id;
              - classNames[className] = rgb;
              td(class=className)
                //div(class='td')
              - x++
          - y++

    - for (id in classNames) { txtStyles += '.' + id + ' {background-color: ' + classNames[id] +  '} '}
style(type="text/css")
  #{txtStyles}

script(type='text/javascript').
  function goRemove() {
    const el = document.querySelectorAll('.cell:not(.cell-950)');//[1].style.display = 'none'
    const len = el.length;

    for (let i = 0; i <= len; i++) {
      el[i].style.background = 'white';
    }
  }
