doctype html

html
  //meta(http-equiv="refresh", content="5")
  head
    title InfoScanner
    
    link(rel="stylesheet")
    //link(rel="stylesheet" href="/react-table.min.css")
  body
    <!--dynamic content-->
    div(id="app")
        
  script(src = "/app.min.js")