.barContainer {
  //background-color: #009926;
  //margin-top: 20px;
  border: 1px solid #d3def0;
  display: grid;
  //max-width: 42%;
  width: 320px;
}

.button {
  width: 130px;
  margin-top: 20px;
  margin-left: 5px;
}

.buttonRange {
  width: 70px;
  margin-top: 2%;
}
