.schemaImageContainer {
  text-align: center;
}

.imageContainer {
  //display: flex;
  //max-width: 100%;
  display: flex;
}

.imageFiltered {
  max-width: 50%;
}


.button1, .buttonOk, .buttonCancel {
  width: 24px;
  background-repeat: no-repeat;
}

.buttonOk {
  background-image: url('/images/ok.min.png');
}

.buttonCancel {
  background-image: url('/images/cancel.min.png');
}