doctype 5

html(lang='en')
  head
    meta(charset='UTF-8')
    title #{pSchemaInfo.original_name}
    style(type="text/css").
      @font-face {
        font-family: #{pFont};
        src: url(#{pFont});
      }
      .schema-symbol {
        font-family: #{pFont};
      }
      .schema-statistics-row { background-color: beige; }
      .schema-statistics-cell { border: 1px solid #dbd6d3; text-align: center; }
      .info { padding-left: 25px; }
      .tunes { display: block; padding-bottom: 15px; }
      .table { display: table; padding: 25px }
      .row { display: table-row; padding: 15px; }
      .cell { display: table-cell; padding-right: 10px; padding-bottom: 5px; }
      .pointer { cursor: pointer; }
      .container { padding-top: 30px; }
  body
    //div
      - const symbolsTxt = '!"#$%&\'()*+,-./0123456789:;<=>?@ABCDEFGHIJKLMNOPQRSTUVWXYZ[]^_`abcdefghijklmnopqrstuvwxyz{|}~¡¢£¤¥¦§¨©ª«®¯°±²³´µ¶·¸¹º»¼½¾¿ÀÁÂÃÄÅÆÇÈÉÊËÌÍÎÏÐÑÒÓÔÕÖ×ØÙÚÛÜÝÞßàáâãäåæçèéêëìíîïðñòóôõö÷øùœŠšŸúûüýþÿ';
      - const schemaSymbols = symbolsTxt.split('');
      - const uniqueDiyResourceObj = {};
        each item in pData
          - uniqueDiyResourceObj[item.id] = item;

      - let uniqCnt = 0;
      - for(key in uniqueDiyResourceObj) {
      -   Object.assign(uniqueDiyResourceObj[key], {'uniqCnt': uniqCnt});
      -   uniqCnt++;
      - }
    div
      fieldset
        //legend common info
        div(class='info')
          b #{pSchemaInfo.original_name}
          p image: #{pSchemaInfo.image_width} * #{pSchemaInfo.image_height} px
          p coefficient compression: #{pSchemaInfo.compress_value}
          p count: #{pSchemaInfo.cnt_x} * #{pSchemaInfo.cnt_y}

        div(id='settings', class='table')
          div(class='row')
            div(class='cell')
              h3 view
              label(class='tunes')
                input(id="show_grid", type="checkbox", checked='checked')
                span show grid
              label(class='tunes')
                input(id="show_schema_color", type="checkbox")
                span show schema color
              label(class='tunes')
                input(id="show_schema_data", type="checkbox")
                span show schema data
              label(class='tunes')
                input(id="show_grid_area_number", type="checkbox", checked='checked')
                span show area numbers
            div(class='cell')
              h3 colors
              label(class='tunes')
                input(id="grid_color", type="color", value='#d35082')
                span grid color
              label(class='tunes')
                input(id="schema_data_color", type="color", value='#15a10f')
                span schema data color
              label(class='tunes')
                input(id="schema_data_grid_color", type="color", value='#eadf52')
                span schema data grid color
              label(class='tunes')
                input(id="background_color", type="color", value='#eee7e5')
                span background color

    //div(id='data_container')
      u(id='data_table_shower', class='pointer') data colors info

      table(id='data_table', style='display: none')
        thead
          tr
            th
            th Resource ID
            //th Name
            th No
            //th X
            //th Y
            th Color
            th RGB
            //th delta E
            th Count
            th Symbol
        tbody
          - let i = 0;
          each item in uniqueDiyResourceObj
            - const dmcColor = item.c;
            - const dmcRGB = 'rgb(' + dmcColor.R + ',' + dmcColor.G + ',' + dmcColor.B + ')';
            tr(class='schema-statistics-row')
              td
                input(class='select-color', type='checkbox', checked='true', data-color=JSON.stringify(dmcColor), data-id=item.diy_resource_id, data-symbol=item.uniqCnt)
              td(class='schema-statistics-cell')= item.id
              //td(class='schema-statistics-cell')= item.name
              td(class='schema-statistics-cell')= item.no
              //td(class='schema-statistics-cell')= item.x
              //td(class='schema-statistics-cell')= item.y
              td(style='background-color:' + dmcRGB)
              td(class='schema-statistics-cell')= dmcColor.R + ',' + dmcColor.G + ',' + dmcColor.B
              //td(class='schema-statistics-cell')= item.delta_e
              th(class='schema-statistics-cell')= (pData.filter(p => p['id'] === item.id).length)
              th
                p(class='schema-symbol')= schemaSymbols[i]
              - i++

    //u(id='settings_shower', class='pointer') settings

    div(id='image_container', class='container')
      canvas(id='image')

  //script(type='text/javascript', src='./' + pSchemaInfo.project_name + '.js')
  script(type='text/javascript').

    const data = !{pData};
    !{pScript}