.neutralEditField {
  //border: 1px solid #009926;
}

.okEditField {
  border: 2px solid #009926;
}

.notOkEditField {
  border: 2px solid #f83410;
}

.hint {
  padding-left: 10px;
  //font-size: small;
  font-family: 'Times New Roman', Times, serif;
}

$speed: 1.0s;
@keyframes loading {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading {
  width: 16px;
  height: 16px;
  padding-left: 5px;
  padding-right: 5px;
  animation: loading $speed linear infinite;
}